.listCard{
    border:2px solid lightgray;
    border-radius: 7px;
    /* display: flex; */
    flex-direction: row;
    width:365px;
    cursor:pointer;
}
.listImg{
    height:50px ;
    border: 1px solid #333;
    border-radius: 25%;
    margin-top:12px;
    margin-left: 5px;
}
.phead{
   font-weight: 700;

}
.pcontent{
   font-weight: 400;
   margin: 0;
}