.detailImage {
    max-height: 200px;
    min-height: 50px;
    height: 140px;
    border-radius: 50%;
    border: 1px double black;
    box-shadow: 8px 8px 8px gray, inset 8px 8px 8px gray;
    margin-left: 15px;
}

.detailImage:hover {
    box-shadow: 8px 8px 8px black, inset 8px 8px 8px black;
    position: relative;
    transition: 0.5s ease;
    zoom: 105%;
}

#detailsC-head {
    background: transparent;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.detailCard {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
    left: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    box-shadow: 10.5px 10.5px 7px black;
}

.v-line-sm {
    border: 2px dotted rgb(255, 255, 255);
    width: 0.5px;
    height: 40px;
    margin: 2rem auto;
    margin-top: 0;
    margin-bottom: 0;
}

.v-line-xsm {
    border: 2px dotted rgb(255, 255, 255);
    width: 0.5px;
    height: 20px;
    margin: 2rem auto;
    margin-top: 0;
    margin-bottom: 0;
}

.h-line-lg {
    position: relative;
    border: 2px dotted rgb(255, 255, 255);
    max-width: 740px;
    min-width: 50px;
    height: 0.5px;
    margin: 2rem auto;
    margin-top: 0;
    margin-bottom: 0;
}

.split-line-sm {
    width: 90px;
    height: 20px;
    border-top: 3px dotted rgb(255, 255, 255);
    border-left: 3px dotted rgb(255, 255, 255);
    border-right:3px dotted rgb(255, 255, 255);
}


.card1 {
    background-color: rgb(165, 42, 42);
    color: white;
    align-items: center;
    min-height: 100px;
    max-height: 130px;
    min-width: 120px;
    width: 100px;
    border: 2px solid gold;
}
.card1:hover{
      box-shadow: 10.5px 10.5px 7px black;
}
.card11:hover{
      cursor: pointer;
}
.card1:active{
      background-color:cornflowerblue;
      color: black;
}

.row-flex {
    display: flex;
    justify-content: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row4 {
    height: 120px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.row5 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#clickNote {
   display: flex;
   align-items: center;
   flex-direction: column;
   height: 100px;
   width: 400px;
    margin-top: 100px;
    margin-left: 70px;
    padding: 0;
   color: aliceblue;
    font-size: 2.5rem ;
    text-shadow: 5px 5px black;
}

#clickNote p{
    font-size: 1rem;
}