.detailImage{
      max-height: 200px;
      min-height: 50px;
      border-radius: 50%;
      border:1px double black;
      box-shadow: 8px 8px 8px gray,inset 8px 8px 8px gray;
}
#detailsC-head{
    background: transparent;
     border-top-left-radius: 45px;
     border-top-right-radius:45px ;
}
.detailCard{
         background: linear-gradient(45deg,rgb(152, 95, 95),rgb(202, 186, 186));
    border: 1px solid blue;
    border-radius: 10%;
}

.v-line-sm{
    border:1px dashed red;
       width: 2px;
       height: 40px;
       margin:2rem auto;
       margin-top: 0;
       margin-bottom: 0;
       
}
.v-line-xsm{
    border:1px dashed red;
       width: 2px;
       height: 20px;
       margin:2rem auto;
       margin-top: 0;
       margin-bottom: 0;
       
}
.h-line-lg{
    border:1px dashed red;
    max-width: 475px;
    min-width: 50px;
    height: 2px;
    margin:2rem auto;
    margin-top: 0;
    margin-bottom: 0;
}
.split-line-sm{
    width: 90px;
    height: 20px;
    border-top:1px dashed red;
    border-left:1px dashed red ;
    border-right:1px dashed red;
}


.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     min-height: 100px;
     min-width: 100px;
    width: 100px;
}
.row-flex{
    display: flex;
    justify-content: center;
}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.row4{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
justify-content: space-evenly;

}
.row5{
    display: flex;  
    align-items: center;
    flex-direction:column;
}